*{
    box-sizing: border-box;
    margin:0;
    padding: 0; 

}
body > header{
    background-color: #ab2cc6;
    padding: 16px 0;
    color: rgb(255, 235, 205);
}
header .container{
    display: flex;
    align-items: center;
}
header li{
    display: inline;
}
header li a {
    color: blanchedalmond;
    text-decoration: none;
    margin-left: 16px;
    font-family: Arial, Helvetica, sans-serif;


}

.container{
    width: 1366px;
    margin: 0 auto;
    justify-content: space-between;
}

.articles{
    display: flex;
    flex-wrap: wrap;
}

.articles img{
    height: 180px;
    
}



section {
    padding: 16px 0;
}

.articles article h3 {
    font-family: 'DM Serif Display', serif;
    align-items: center;
    margin-top:8px ;
    margin-bottom:8px ;
}

section h2 , .articles article{
    margin-bottom: 16px;

}
.articles article p, .articles article a{
    font-family: 'Quicksand', sans-serif;
}

.articles article a {
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    font-weight: 700;
    color: blanchedalmond;
  
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 34px;
}

#sports{
    background-color: blanchedalmond
}

#economy{
    background-color: blanchedalmond
}

#reportagem{
    background-color:blanchedalmond
}
#famosos{
    background-color:blanchedalmond
}
#sports .articles article a{
    background-color: rgb(161, 42, 98);
}

#economy .articles article a{
    background-color: rgb(161, 42, 98)
}

#reportagem .articles article a{
    background-color: rgb(161, 42, 98)
}

#famosos .articles article a{
    background-color: rgb(161, 42, 98)
}

@media screen  and(max-width : 640px){
    .container
    background-color:rgb(161, 42, 98);
}

.articles article{
    width: 90%;
}

@media screen and(min-width:641px) and(max-width:1365px){
    .container
    background-color:rgb(161, 42, 98) ;
}

