*{
    box-sizing: border-box;
    margin:0;
    padding: 0; 

}
.jare{
    background-color: #0f32ce;
    padding: 16px 0;
    color: rgb(255, 235, 205);
}
h2{
    padding: 10px 0;
}
.ans ,.ansp1,#ansp2{
    padding: 10px 0;
}
/* .ans ,.ansp2{
    padding: 15px 0;
} */

.container{
    border: 1px solid red;
    margin-left: 20px;
}
#ansp2{
    padding-bottom: 20px;
    
}

header h1{
    padding-left: 30px;
}